@font-face {
  font-family: "Lora";
  src: url("/assets/fonts/Lora-Italic[wght].ttf") format("truetype");
  font-weight: 200;
}

@font-face {
  font-family: "Lora";
  src: url("/assets/fonts/Lora[wght].ttf") format("truetype");
  font-weight: 700;
}
