@use "./_partials/typography" as *;
@use "./_partials/_variables" as *;
@use "./_partials/mixins" as *;

* {
  margin: 0;
  padding: 0;
  font-family: "Lora", "Sans Serif";
  font-weight: 400;
}

.header {
  height: 4rem;
  width: 100%;
  background-color: #323232;
  display: flex;
  justify-content: center;

  &__title {
    font-size: 1.5rem;
    color: rgb(255, 253, 253);
    font-weight: 600;
    background-color: #323232;
    margin-top: 0.5rem;
  }
  &__subtitle {
    font-size: 1rem;
    color: white;
  }
}

.content-container {
  height: 27rem;
  display: flex;
  justify-content: center;
  background-image: linear-gradient(rgba(0, 0, 0, 0.527), rgba(0, 0, 0, 0.5)),
    url(../assets/images/isorepublic-background-kitchen-1100x733.jpg);
  width: 100%;
  background-position: center;
  background-size: cover;
  align-items: center;
  flex-direction: column;
}

.form {
  display: flex;
  flex-direction: row;
  border: 1px solid grey;
  padding: 1px;
  margin-bottom: 2rem;
  margin-top: 3rem;
  height: 2rem;
  &__search-bar {
    flex-grow: 2;
    border: none;
    // display: block;
    // width: 100%;
    // border: solid black;
    // height: 2rem;
    // border-radius: 0.3rem;
    // margin: 0 auto;
  }
  &__search-bar:focus {
    outline: none;
  }
  &__button {
    // display: block;
    // width: 60%;
    // margin-left: 2.5rem;
    // border: solid black;
    // height: 2rem;
    // border-radius: 0.3rem;
    border: 1px solid blue;
    background: blue;
    color: white;
  }
}

.form:focus-within {
  outline: 1px solid blue;
}

.result-container {
  box-shadow: 0 4px 12px 0 rgb(0 0 0 / 20%);
  transition: 0.3s;
  border-radius: 10px;
  padding: 0.25rem;
  border: solid black;
  width: 70%;
  background-color: yellow;
  padding: 1.5rem;
}

.recipe-card {
  list-style-type: none;
  display: inline-flex;
  flex-direction: column;
  align-items: center;
  &__title {
    font-weight: 600;
    font-size: 1.75rem;
    margin-bottom: 1rem;
  }
  &__subtitle {
    font-weight: 400;
    font-size: 1rem;
    text-decoration: underline;
  }
  &__ingredients {
    font-size: 0.75rem;
    margin-bottom: 2rem;
  }
  &__instructions {
    font-size: 0.7rem;
    line-height: 1.5;
    margin-bottom: 2rem;
  }
}
